DNS_RECORD_DOMAIN="my_domain"
DNS_RECORD_TYPE="A"
DNS_RECORD_NAME="@"

GODADDY_DOMAINS_API_BASE_URL="https://api.godaddy.com"
GODADDY_DOMAINS_API_VERSION="v1"
GODADDY_DOMAINS_API_KEY="api_key"
GODADDY_DOMAINS_API_SECRET="api_secret"
GODADDY_DOMAINS_API_REQUEST_TIMEOUT=10

PUBLIC_IP_URLS="['https://api.ipify.org/', 'http://ip.42.pl/raw']"
PUBLIC_IP_REFRESH_EVERY_N_SECONDS=1800
PUBLIC_IP_REQUEST_TIMEOUT=10

EMAIL_SMTP_HOST=127.0.0.1
EMAIL_SMTP_PORT=25
EMAIL_SMTP_TIMEOUT=10
EMAIL_FROM="godaddy_ddns"
EMAIL_RECIPIENTS_ADMIN=['admin@testmail.com']
EMAIL_RECIPIENTS_CONTENT=['dev@testmail.com']

LOGS_DIRECTORY="logs"
LOGS_LOG_LEVEL="debug"
LOGS_MAX_SIZE_MB=50
LOGS_LOGFILE_ENABLED=true
LOGS_EMAIL_ENABLED=true
LOGS_JSON_FORMAT_ENABLED=false
